
.styleCSS:focus {
    outline: none;
    box-shadow: 0 0 0px rgba(0, 123, 255, 0.5);
    cursor: text;
}

.styleCSS span.property {
    color: #18dcfe;

}

.styleCSS span.selector,
span.bracket, span.keyword {
    color: #eaf72b;
}


.styleCSS span.value , span.number{
    color: #ff6e3e;
}


.scriptJS span.object {
    color: #00f2fe;
}


.scriptJS span.property {
    color: #27ff06;

}

.scriptJS span.boolean{
    color: #00feed;
}

.scriptJS span.method{
    color: #e4d90d;
    /* color: #dabf0b; */

}

span.keyword{
    color: #205cff;
    /* color: #dabf0b; */

}
.scriptJS span.parameter , span.str{
    color: #e36e25;

}
.scriptJS span.bracket , span.number{
    color: #ffe600;

}


.activeLine{
    /* border: 1px solid rgba(77, 76, 76, 0.338); */
    margin-left: -40px;
    padding-left: 40.0123456789px;

}